cmake==3.31.4
dm-env==1.6
dm-tree==0.1.9
dm_control==1.0.27
glfw==2.8.0
matplotlib==3.10.0
mujoco==3.2.7
numpy==2.0.2
pillow==11.1.0
protobuf==5.29.3
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
wandb==0.19.7